<%- include("../compartilhado/header") %>
    <h1>Usuarios</h1>
    <hr>
    <a href="/usuarios/novo" class="btn btn-primary">Novo Usuário</a>
    <br>
    <% if(sucesso != ""){ %>
      <br>
      <div class="alert alert-success"><%= sucesso %></div>
    <% } %>
    <br>
    <table class="table">
      <tr>
        <th>Nome</th>
        <th>Login</th>
        <th></th>
        <th></th>
      </tr>
      <% for(let i=0; i<usuarios.length; i++ ){ %>
      <tr>
        <td><%- usuarios[i].nome %></td>
        <td><%= usuarios[i].login %></td>
        <td style="width:50px"><a href="/usuarios/<%= usuarios[i].id %>" class="btn btn-primary">Editar</a></td>
        <td style="width:50px"><a href="#" onclick="if(confirm('Confirma?')){ window.location.href='/usuarios/<%= usuarios[i].id %>/delete'; }" class="btn btn-danger">Excluir</a></td>
      </tr>
      <% } %>
      </table>
<%- include("../compartilhado/header") %>